.navbar{
    align-items:flex-end;
    justify-content: space-around;
    background-color: var(--lightgreen);
}


.navbar-toggler{
    border: none;
}

.heading1{
    font-family: var(--krona);
    font-size: 2.25rem;
    color: var(--midgreen);
    border: var(--lightgreen);
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-18px);
}

.heading2{
    font-family: var(--krona);
    font-size: 1.5rem;
    color: var(--darkgreen);
    border: var(--lightgreen);
}

@media (max-width: 320px) {
    .heading1{
        font-size: 1.75rem;
    }
    .heading2{
        font-size: 1.125rem;
    }
    .adscard-div-btn{
        flex-direction: column;
    }
}

.adscard{
    background-color: var(--lightgreen);
    border: none;
    border-radius: none;
    max-width: 1800px;
    width: clamp(300px, 100%, 1700px);
    margin: auto;
    align-items: center;
}

.adscard-title{
    font-family: var(--kyiv);
    font-size: .875rem;
    font-weight: 700;
    color: var(--darkgreen);
}

.adscard-text{
    font-family: var(--kyiv);
    font-size: .5rem;
    font-weight: 400;
    color: var(--midgreen);
    transform: translateY(-6px);
}

.adscard-body{
    width: 50%;
}

.old-price, .new-price{
    color: white;
    font-family: var(--kyiv);
}

.old-price{
    font-size: .625rem;   
}

.old-price span{
    text-decoration: line-through;
}

.new-price{
    font-size: .75rem;
}

.btn-success{
    background-color: var(--green);
    border: none;
}

.adscard-btn{
    font-size: .625rem;
}

@media (min-width: 600px) {
    .adscard-title{
        font-size: 1.25rem;
    }
    
    .adscard-text{
        font-size: 1rem;
    }
    
    .adscard-body{
        width: 30%;
    }
    
    .old-price{
        font-size: 1rem;
    }

    .new-price{
        font-size: 1.25rem;
    }   

    .adscard-btn{
        font-size: 1rem;
    }

    .ads-img{
        width: 125px;
    }
}

@media (min-width: 1024px) {
    .adscard-title{
        font-size: 1.875rem; /* 1.25rem * 1.5 */
    }
    
    .adscard-text{
        font-size: 1.5rem; /* 1rem * 1.5 */
    }
    
    .adscard-body{
        width: 45%; /* 30% * 1.5 */
    }
    
    .old-price{
        font-size: 1.5rem; /* 1rem * 1.5 */
    }

    .new-price{
        font-size: 1.875rem; /* 1.25rem * 1.5 */
    }   

    .adscard-btn{
        font-size: 1.5rem; /* 1rem * 1.5 */
    }

    .ads-img{
        width: 187.5px; /* 125px * 1.5 */
    }
}

